<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars: Web Scrapping Challenge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <div>
                <a class="btn btn-primary" href="/scrape">Scrape New Data</a>
            </div>
        </div>
       
        <div class="row" id="mars_mews">
            <div class="col-12">
                <h2>Latest Mars News</h3>
                <h4>{{mars_data.mars_title}}</h4>
                <p>{{mars_data.mars_news}}</p>
            </div>
        </div>

        <div class="row" class="image" id="mars_image">
            <div class="col-8">
                <h3>Featured Mars Image</h3>
                <img class = "img-fluid" src={{mars_data.featured_image}} alt={{mars_data.featured_image}}>
            </div>
            <div class="col-4">
                <div class="border">
                    <h5>Current Weather on Mars</h5>
                    <p>{{mars_data.mars_weather}}</p>
                </div>
                <div>
                    <h4>Mars Facts</h4>
                    <div>{{mars_data.mars_facts|safe}}</div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid" style="margin: 20px;">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <img src={{mars_data.mars_hemis[0]["img_url"]}} style="max-width:100%;
                     height:auto;" />
                     <h4> {{mars_data.mars_hemis[0]["title"]}} </h4>
                  </div>
                  <div class="col-md-12">
                    <img src={{mars_data.mars_hemis[1]["img_url"]}} style="max-width:100%;
                     height:auto;" />
                     <h4> {{mars_data.mars_hemis[1]["title"]}} </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <img src={{mars_data.mars_hemis[2]["img_url"]}} style="max-width:100%;
                     height:auto;" />
                     <h4> {{mars_data.mars_hemis[2]["title"]}} </h4>
                  </div>
                  <div class="col-md-12">
                    <img src={{mars_data.mars_hemis[3]["img_url"]}} style="max-width:100%;
                     height:auto;" />
                     <h4> {{mars_data.mars_hemis[3]["title"]}} </h4>
                  </div>
                </div>
              </div>
            </div>

    </div>
</body>
</html>
